@import "tailwindcss";
/* base Styles */
@layer base {
  body {
    @apply bg-light text-dark;
    font-family: "Raleway", sans-serif;
  }

  p {
    font-family: "Outfit", sans-serif;
  }


  .scrollbar-hide::-webkit-scrollbar,
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  
  .scrollbar-hide,
  .hide-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  .swiper-pagination {
    position: relative !important;
  bottom: -5px !important;
}
  .swiper-pagination-bullet-active {
    background-color: var(--color-morning) !important;
  }
}

button:hover {
  background-color: #fff5f0;
}

/* components */
@layer components {
  .banner-cover {
    @apply bg-cover bg-center;
    background-image: url("./images/TopBanner.png");
  }

  .hero-card {
    @apply flex flex-col sm:flex-row items-center justify-between 
           text-base md:text-lg font-semibold text-dark 
           w-full max-w-2xl mt-6 md:mt-4 lg:mt-8 
           bg-orange py-4 md:py-2 lg:py-6 
           px-4 md:px-8 lg:px-12 
           border-[3px] border-dark rounded-sm 
           shadow-[6px_6px_0px_rgba(255,190,153,1)] 
           gap-4 sm:gap-0;
  }

  .hero-span {
    @apply text-base md:text-xs font-bold text-center;
  }

  .box-shadow {
    @apply [box-shadow:6px_6px_0_black];
  }
}

/* theme  */
@theme {
  --color-dark: #262626;
  --color-morning: #ff8d4d;
  --color-liteMorning: #ffae80;
  --color-light: #fff5f0;
  --color-orange: #ffefe5;
  --color-mini: #ffdecc;
}
